@import '../../../../assets/css/global-styles-components.scss';

.table-cell {
	height: 100%;
	padding: 8px;
	justify-items: center;

	&--valign-center {
		@include flex($justifyContent: flex-start);
	}

	@include from-desktop {
		padding: 16px;
	}
}
