@import '../../../../assets/css/global-styles-components.scss';

.pagination {
	&__items {
		@include flex($direction: row);
		gap: 16px;

		@include from-desktop {
			gap: 32px;
		}
	}

	&__item {
		@include from-desktop {
			font-size: $font-size-big;
		}

		&:hover {
			cursor: pointer;
			color: $color-secondary;
		}
	}

	&__currentPage {
		color: $color-secondary;
		font-weight: $font-weight-medium;
		border-bottom: 2px solid $color-secondary;
	}
}
