@import '../../../assets/css/global-styles-components.scss';

.footer {
	@include flex($direction: column);
	width: 100%;
	padding: 32px;

	@include from-desktop {
		flex-direction: row;
		justify-content: space-between;
	}

	&__copyright {
		display: block;
		padding-top: 16px;
		font-size: 14px;

		@include from-desktop {
			padding-top: 0;
		}
	}
}
