@import '../../../assets/css/global-styles-components.scss';

.header {
	background: $color-white;

	&__wrapper {
		position: relative;
		@include flex;
		height: $menuHeightMobile;
		margin: 0 auto;

		@include from-desktop {
			height: $menuHeightDesktop;
		}
	}

	&__btn {
		display: none;

		@include from-desktop {
			position: absolute;
			right: 16px;
			display: block;
		}
	}
}
