@if (lastAddedBook) {
<div class="last-added-book">
	<div class="last-added-book__data">
		<h4 class="last-added-book__heading">Last added book:</h4>
		<span class="last-added-book__item">
			"{{ lastAddedBook.title }}", <br />
			{{ lastAddedBook.author }}
		</span>
		<span class="last-added-book__item"> Added: {{ lastAddedBook.date_add | date: 'mediumDate' }} </span>
	</div>
	<picture class="last-added-book__cover">
		<img [src]="lastAddedBook.cover" alt="Last added book cover" class="last-added-book__image" />
	</picture>
</div>
}
