@import '../../../assets/css/global-styles-components.scss';

:host(c-stats) {
	@include flex;
	width: 100%;
	height: 100%;
	border: 2px solid rgba($color-primary, 0.5);
	border-radius: $border-radius;

	.stats {
		padding: 8px;

		@include from-desktop {
			padding: 32px;
		}

		&__heading {
			font-weight: $font-weight-medium;
			margin-top: 0;
		}

		&__data {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 8px;
		}

		&__category {
			font-weight: $font-weight-medium;
		}
	}
}
