@import './global-styles-components.scss';

.section {
	padding: 32px;
	height: calc(100vh - $menuHeightMobile);

	@include from-desktop {
		height: calc(100vh - $menuHeightDesktop);
	}

	&--intro {
		background-color: $color-primary-light;
		padding-bottom: 0;
	}

	&--summary {
		height: auto;
		@include flex;
		background-color: $color-secondary-light;

		@include from-desktop {
			height: calc(100vh - $menuHeightDesktop);
		}
	}

	&--books {
		height: auto;
	}

	&__content {
		display: grid;
		gap: 32px;
		max-width: 1920px;
		padding: 16px;

		@include from-desktop {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			grid-template-rows: repeat(2, 1fr);
			gap: 64px;
			align-content: center;
			justify-content: center;
			height: calc(100vh - 48px);
			padding: 64px;
		}
	}
}

.col {
	@include flex($direction: column);

	@include from-desktop {
		width: 100%;
		height: 100%;
	}

	&--image {
		justify-content: space-between;
		grid-area: 1 / 1 / 3 / 2;
	}
}
