$font-size-basic: 1rem;
$font-size-small: 0.8rem;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

$font-family-basic: 'Poppins', sans-serif;
$font-family-serif: 'Lora', serif;

$color-primary: #3d3a4b;
$color-primary-light: #d8d8db;
$color-secondary: #d9594c;
$color-secondary-light: #f9e6e4;
$color-black: #000;
$color-green: #57886c;
$color-yellow: #ddca7d;
$color-white: #fff;
$color-danger: #ff4c4c;

$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;
$desktop-min-width: 992px;

$border-radius: 6px;
