@if (books) {
<div class="table">
	<div class="table__row table__row--heading">
		<div class="table__col-50">
			<c-table-cell [variant]="TABLE_CELL_VARIANT.COVER" [valignCenter]="true">Cover</c-table-cell>
			<div class="table__col-50--info">
				<c-table-cell [variant]="TABLE_CELL_VARIANT.TITLE" [valignCenter]="true">Title</c-table-cell>
				<c-table-cell [valignCenter]="true">Author</c-table-cell>
				<c-table-cell [valignCenter]="true">Language</c-table-cell>
			</div>
		</div>
		<c-table-cell [valignCenter]="true">Description</c-table-cell>
		<c-table-cell [valignCenter]="true">Rating</c-table-cell>
		<c-table-cell [valignCenter]="true"></c-table-cell>
	</div>
	@for (book of books; track bookIndex; let bookIndex = $index) {
	<div class="table__row" #tabelRow>
		<div class="table__col-50">
			<c-table-cell [variant]="TABLE_CELL_VARIANT.COVER">
				@if (book.cover) {
				<img [src]="book.cover" alt="Book" class="book__cover" />
				} @else if (!book.cover) {
				<span class="book__no-img">
					<i class="fa-regular fa-image book__no-img-icon"></i>
				</span>
				}
			</c-table-cell>
			<div class="table__col-50--info">
				<c-table-cell [variant]="TABLE_CELL_VARIANT.TITLE">{{ book.title }}</c-table-cell>
				<c-table-cell>{{ book.author }}</c-table-cell>
				<c-table-cell>{{ book.language }}</c-table-cell>
			</div>
		</div>
		<c-table-cell>{{ book.description }}</c-table-cell>
		<c-table-cell [valignCenter]="true">{{ book.rating | number: '1.1' }}</c-table-cell>
		<c-table-cell [valignCenter]="true" [variant]="TABLE_CELL_VARIANT.ICONS">
			<c-button [variant]="BUTTON_VARIANT.ICON" (click)="onEditBook(bookIndex)"
				><i class="fa-regular fa-pen-to-square"></i
			></c-button>
			<c-button [variant]="BUTTON_VARIANT.ICON" (click)="onDeleteBook(bookIndex)"
				><i class="fa-regular fa-trash-can"></i
			></c-button>
		</c-table-cell>
	</div>
	}
</div>
}
