@import '../../../../assets/css/global-styles-components.scss';

.btn {
    padding: 8px 32px;
    outline: 0;
    border: 2px solid;
    transition: background-color 0.7s, color 0.5s, border-color 0.7s ease-in-out;

    &:hover {
        cursor: pointer;
        background: none;
        color: $color-black;
    }

    &:focus {
        border-width: 4px;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary;

        &:focus {
            border-width: 4px;
            border-color: $color-secondary;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-white;
        border-color: $color-secondary;

        &:focus {
            border-color: $color-primary;
        }
    }

    &--icon {
        @include flex;
        width: 48px;
        height: 48px;
        padding: 0;
        border-radius: 100%;
        background-color: transparent;
        border-color: $color-primary;

        &:hover,
        &:focus {
            border-color: $color-secondary;
        }
    }
}
