@import '../../../../assets/css/global-styles-components.scss';

button {
	background-color: transparent;
}

.btn {
	padding: 8px 32px;
	outline: 0;
	border: 2px solid;
	border-radius: $border-radius;
	transition: background-color 0.7s, color 0.5s, border-color 0.7s ease-in-out;

	&:hover {
		cursor: pointer;
		background: transparent;
		color: $color-black;
	}

	&:focus {
		border-width: 4px;
	}

	&--primary,
	&--secondary {
		color: $color-white;

		&:focus {
			border-width: 4px;
		}
	}

	&--primary {
		background-color: $color-primary;
		border-color: $color-primary;

		&:focus {
			border-color: $color-secondary;
		}
	}

	&--secondary {
		background-color: $color-secondary;
		color: $color-white;
		border-color: $color-secondary;

		&:focus {
			border-color: $color-primary;
		}
	}

	&--primary-outline,
	&--secondary-outline {
		background-color: none;
		color: $color-black;
		border-color: $color-primary;
		border: 2px solid;

		&:focus {
			border-width: 4px;
		}

		&:hover {
			color: $color-white;
		}
	}

	&--primary-outline {
		border-color: $color-primary;

		&:hover {
			background: $color-primary;
		}
	}

	&--secondary-outline {
		border-color: $color-secondary;

		&:hover {
			background: $color-secondary;
		}
	}

	&--icon {
		@include flex;
		width: auto;
		height: 48px;
		padding: 0;
		background-color: transparent;
		border: none;
		color: $color-primary-medium;
		font-size: 1rem;

		@include from-desktop {
			width: 48px;
			font-size: 1.5rem;
		}

		&:hover,
		&:focus {
			color: $color-secondary;
		}
	}

	&--disabled {
		opacity: 0.4;
	}

	&--large {
		@include from-tablet {
			padding: 16px 32px;
			font-size: $font-size-big;
		}
	}
}
