<c-header></c-header>
<section class="section section--intro">
    <div class="section__content">
        <div class="welcome">
            <h2 class="welcome__hi">Hi Johnny,</h2>
            <h4 class="welcome__question">
                how many pages did you read yesterday?
            </h4>
        </div>
        <c-stats></c-stats>
        <c-quote></c-quote>
        <picture class="hero-img">
            <img
                src="../assets/images/intro-image.svg"
                class="hero-img__pic"
                alt="Bookworm" />
        </picture>
        <c-best-book></c-best-book>
        <c-last-added-book></c-last-added-book>
    </div>
</section>
<section class="section section--books">
    <c-table></c-table>
</section>
<c-footer></c-footer>
