@import '../../../../../../assets/css/global-styles-components.scss';

.search-bar {
	max-width: 100%;

	&__form {
		@include flex($justifyContent: flex-start);
		padding-right: 16px;
		border: 1px solid $color-primary;
		border-radius: $border-radius;
		outline: none;

		@include from-tablet {
			width: 40%;
			padding-right: 0;
		}
	}

	&__input {
		flex: 1;
	}

	::ng-deep {
		.input-wrapper {
			display: block;
		}

		.input {
			border: 0;
		}
	}
}
