@import '../../../../assets/css/sections.scss';

.quote {
	@include flex($direction: column);
	max-width: 90%;

	&__paragraph,
	&__author {
		color: $color-white;
		text-align: center;
	}

	&__paragraph {
		font-size: 32px;

		@include from-desktop {
			font-size: 4vw;
		}
	}
}
