<div class="table">
  <div class="table__row table__row--heading">
    <c-table-cell [variant]="'basic'">Cover</c-table-cell>
    <c-table-cell [variant]="'wide'">Title</c-table-cell>
    <c-table-cell [variant]="'basic'">Author</c-table-cell>
    <c-table-cell [variant]="'tiny'">Language</c-table-cell>
    <c-table-cell [variant]="'superwide'">Description</c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'"></c-table-cell>
  </div>
  <div class="table__row" *ngFor="let item of books">
    <c-table-cell [variant]="'basic'" [valignCenter]="true">
      <img [src]="item.cover" alt="Book" class="book__cover">
    </c-table-cell>
    <c-table-cell [variant]="'wide'">{{item.title}}</c-table-cell>
    <c-table-cell [variant]="'basic'">{{item.author_firstname}} {{item.author_lasttname}}</c-table-cell>
    <c-table-cell [variant]="'tiny'">{{item.language}}</c-table-cell>
    <c-table-cell [variant]="'superwide'">{{item.description}}</c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'" [valignCenter]="true"><c-button>Edit</c-button></c-table-cell>
  </div>
</div>
