@import '../../../assets/css/global-styles-components.scss';

.table {
	max-width: 100%;

	@include from-desktop {
		position: relative;
		max-width: 1600px;
		margin: 32px auto;
	}

	&__row {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 8px;
		grid-row-gap: 8px;
		justify-items: center;
		padding: 8px 0;

		@include from-desktop {
			grid-column-gap: 16px;
			grid-template-columns: 50% auto 100px 96px;
			justify-items: start;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $color-primary-light;
		}

		&--heading {
			display: none;
			background-color: $color-primary-light;
			font-weight: $font-weight-medium;
			padding: 16px 0;
			border-radius: $border-radius;

			@include from-desktop {
				position: sticky;
				left: 0;
				top: 0;
				display: grid;
				width: 100%;
				z-index: 1;

				&::after {
					content: none;
				}
			}
		}
	}

	&__col-50 {
		display: grid;
		grid-column-gap: 16px;
		grid-template-columns: 150px auto;
		justify-items: start;
		width: 100%;

		&--info {
			@include flex(
				$direction: column,
				$justifyContent: flex-start,
				$alignItems: flex-start
			);

			@include from-desktop {
				display: grid;
				grid-template-columns: 200px 1fr 1fr;
				width: 100%;
			}
		}
	}
}

.book {
	&__cover {
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}

	&__no-img {
		@include flex;
		width: 100%;
		height: 100%;
	}

	&__no-img-icon {
		font-size: 3rem;
		color: $color-primary-light;
	}
}
