<div class="table">
  <div class="table__row table__row--heading">
    <c-table-cell [variant]="'basic'">Cover</c-table-cell>
    <c-table-cell [variant]="'wide'">Title</c-table-cell>
    <c-table-cell [variant]="'basic'">Author</c-table-cell>
    <c-table-cell [variant]="'tiny'">Language</c-table-cell>
    <c-table-cell [variant]="'superwide'">Description</c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'"></c-table-cell>
  </div>
  <div class="table__row">
    <c-table-cell [variant]="'basic'" [valignCenter]="true">Cover</c-table-cell>
    <c-table-cell [variant]="'wide'">Title</c-table-cell>
    <c-table-cell [variant]="'basic'">Author</c-table-cell>
    <c-table-cell [variant]="'tiny'">Language</c-table-cell>
    <c-table-cell [variant]="'superwide'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sit voluptas rem eos suscipit alias aperiam, at minus commodi? Molestiae fugit ab nulla consequuntur totam reprehenderit possimus tenetur iure saepe.
    </c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'" [valignCenter]="true"><c-button>Edit</c-button></c-table-cell>
  </div>
  <div class="table__row">
    <c-table-cell [variant]="'basic'" [valignCenter]="true">Cover</c-table-cell>
    <c-table-cell [variant]="'wide'">Title</c-table-cell>
    <c-table-cell [variant]="'basic'">Author</c-table-cell>
    <c-table-cell [variant]="'tiny'">Language</c-table-cell>
    <c-table-cell [variant]="'superwide'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sit voluptas rem eos suscipit alias aperiam, at minus commodi? Molestiae fugit ab nulla consequuntur totam reprehenderit possimus tenetur iure saepe.
    </c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'" [valignCenter]="true"><c-button>Edit</c-button></c-table-cell>
  </div>
  <div class="table__row">
    <c-table-cell [variant]="'basic'" [valignCenter]="true">Cover</c-table-cell>
    <c-table-cell [variant]="'wide'">Title</c-table-cell>
    <c-table-cell [variant]="'basic'">Author</c-table-cell>
    <c-table-cell [variant]="'tiny'">Language</c-table-cell>
    <c-table-cell [variant]="'superwide'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sit voluptas rem eos suscipit alias aperiam, at minus commodi? Molestiae fugit ab nulla consequuntur totam reprehenderit possimus tenetur iure saepe.
    </c-table-cell>
    <c-table-cell [variant]="'tiny'">Rating</c-table-cell>
    <c-table-cell [variant]="'tiny'">Data</c-table-cell>
    <c-table-cell [variant]="'tiny'" [valignCenter]="true"><c-button>Edit</c-button></c-table-cell>
  </div>
</div>
